DataFrame

In [26]:
import pandas as pd
list = [1,2,3,4,5,6]
var = pd.DataFrame(list)
var

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [40]:
dict = {"a" : [1,2,3,4,5],"s" : [1,2,3,4,5]}
var1 = pd.DataFrame(dict,columns=["s"])
var1

   s
0  1
1  2
2  3
3  4
4  5