Insert

In [7]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[4,5,6,7,8],"C":[11,12,13,14,15]})
var

   A  B   C
0  1  4  11
1  2  5  12
2  3  6  13
3  4  7  14
4  5  8  15

In [4]:
var.insert(1,"Python",var["A"])
var

   A  Python  B
0  1       1  4
1  2       2  5
2  3       3  6
3  4       4  7
4  5       5  8

Delete

In [13]:
var1 = var.pop("B")
var1

0    4
1    5
2    6
3    7
4    8
Name: B, dtype: int64